.btn-Main-Menu{
    width: 30%;
    padding: 10px;
    margin: auto;
    display: block;
    background-color: aqua;
    text-decoration: none;
    font-size: 100%;
}

.btn-Main-Menu:hover{
    background-color: deepskyblue;
    box-shadow: 2px 2px 2px;
}

table{
    border-collapse: collapse;
    width: 40%;
}

th{
    background-color: lightblue;
}

td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}

.btn-create{
    background-color: greenyellow;
    margin-bottom: 10px;
}

.btn-create:hover{
    background-color: green;
    margin-bottom: 10px;
}

.btn-show{
    background-color: blueviolet;
    margin-bottom: 10px;
}

.btn-show:hover{
    background-color: darkviolet;
    margin-bottom: 10px;
}

.btn-edit{
    background-color: sienna;
    margin-bottom: 10px;
}

.btn-edit:hover{
    background-color: saddlebrown;
    margin-bottom: 10px;
}

.btn-delete{
    background-color: orangered;
    margin-bottom: 10px;
}

.btn-delete:hover{
    background-color: red;
    margin-bottom: 10px;
}