/* Lavet af LHD & MES */

#main-menu-wrapper {
    margin-left: 40%;
    margin-right: 40%;
}

.btn-Main-Menu{
    width: 100%;
    padding: 10px;
    margin: auto;
    display: block;
    background-color: aqua;
    text-decoration: none;
    font-size: 180%;
    cursor: pointer;
}

.btn-Main-Menu:hover{
    background-color: deepskyblue;
    box-shadow: 2px 2px 2px;
}

a {
    text-decoration: none;
}

.wrapper-table{
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    width: 40%;
}

th{
    background-color: lightblue;
}

td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:hover{
    background-color: gray;
}

.btn-create{
    background-color: greenyellow;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-create:hover{
    background-color: limegreen;
    margin-bottom: 10px;
}

.btn-show{
    background-color: cyan;
    cursor: pointer;
}

.btn-show:hover{
    background-color: dodgerblue;
}

.btn-update{
    background-color: greenyellow;
    margin-bottom: 1px;
    width: 70px;
}

.btn-update:hover{
    background-color: limegreen;
    margin-bottom: 1px;
    width: 70px;
    cursor: pointer;
}

.btn-delete{
    background-color: orangered;
    margin-bottom: 1px;
    width: 70px;
    cursor: pointer;
}

.btn-delete:hover{
    background-color: red;
    margin-bottom: 1px;
    width: 70px;
}

.btn-back{
    background-color: silver;
    margin-bottom: 1px;
    width: 70px;
    cursor: pointer;
}

.btn-back:hover{
    background-color: darkgrey;
    margin-bottom: 1px;
    width: 70px;
}

span::after, a::after{
    content: "\a";
    white-space: pre;
}

span, a{
    margin-bottom: 5px;
}

.basic::after{
    content: "";
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
    font-weight: bold;
}

.header{
    text-align: center;
    font-size: 250%;
}

.breaker{
    display: block;
    margin-top: 5px;
}

.update{
    margin-bottom: 1px;
    width: 70px;
}