<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilbehør</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Tilbehør:</h1>
    <a href="/createAccessory">
        <button class="btn-create">Registrer nyt tilbehør!</button>
    </a>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Navn</th>
                    <th>Beløb - Ledig</th>
                    <th>Beløb - Total</th>
                    <th>Pris (i Euro)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accessory: ${accessories}"> <!--th:each means it will loop through the Accessory list -->
                    <td th:text="${accessory.id}"></td>
                    <td th:text="${accessory.name}"></td>
                    <td th:text="${accessory.amountAvailable}"></td>
                    <td th:text="${accessory.amountTotal}"></td>
                    <td th:text="${accessory.price}"></td>
                    <td>
                        <a th:href="@{'/viewAccessory/'+${accessory.id}}">
                            <button class="btn-show">Vis</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/}">
        <button>Tilbage</button>
    </a>
</body>
</html>