<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accessory Test</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Accessories:</h1>
    <a href="/createAccessory">
        <button class="btn-create">Register new accessory!</button>
    </a>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Amount available</th>
                    <th>amount total</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accessory: ${accessories}"> <!--th:each means it will loop through the Accessory list -->
                    <td th:text="${accessory.id}" />
                    <td th:text="${accessory.name}" />
                    <td th:text="${accessory.amountAvailable}" />
                    <td th:text="${accessory.amountTotal}" />
                    <td th:text="${accessory.price}" />
                    <td>
                        <a th:href="@{'/viewAccessory/'+${accessory.id}}">
                            <button class="btn-show">Show</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/}">
        <button>Tilbage</button>
    </a>
</body>
</html>