<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakt - Betaling</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <span th:if="${contract.price &gt; price}">   <!-- &gt; betyder >   -->
        <p>Kunden aflyste sin udlejning og vil modtage:</p>
        <span th:text="${contract.price} - ${price}"></span>
        <label>Gammel Pris (i Euro):</label>
        <span th:text="${contract.price}"></span>
        <label>Ny Pris (i Euro):</label>
        <span th:text="${price}"></span>
    </span>

    <span th:if="${contract.price &lt; price}"> <!-- &lt; betyder <   -->
        <p>Kunden skal betale ekstra gebyrer:</p>
        <span th:text="${price} - ${contract.price}"></span>
        <label>Gammel Pris (i Euro):</label>
        <span th:text="${contract.price}"></span>
        <label>Ny Pris (i Euro):</label>
        <span th:text="${price}"></span>
        <label>Udregninger:</label>
        <span th:if="${halfFull} == true">
            <span th:text="|Gastanken var mindre end halv fuld. Pris = ${70} Euro|"></span> <!--TODO MÅSKE FJERNE EFTERSOM PRICE ER INT OG DETTE RESULTERE I EN DOUBLE-->
        </span>
        <span th:if="${odometer} - ${contract.motorhome.odometer} &gt; ${contract.maxKM} "> <!-- If the difference between old and new odometer is bigger than allowed km-->
            <span th:text="|Ekstra KM: ${odometer} - ${contract.motorhome.odometer} - ${contract.maxKM} = ${odometer - contract.motorhome.odometer - contract.maxKM}|"></span>
            <span th:text="|Hver KM koster en euro: ${odometer - contract.motorhome.odometer - contract.maxKM} = ${(odometer - contract.motorhome.odometer - contract.maxKM)}|"></span>
        </span>

    </span>
    <span th:if="${contract.price == price}">
        <p>Tak for at du lejede hos os!</p>
    </span>

    <a th:href="@{'/'}">
        <button class="btn-create">Okay!</button>
    </a>
</body>
</html>