<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakt</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Kontrakter</h1>
    <a href="/createContract">
        <button class="btn-create">Registrer ny kontrakt!</button>
    </a>
    <a href="/contractArchive">
        <button class="btn-create">Arkiverede kontrakter</button>
    </a>

    <div class="wrapper-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Kunde</th>
                <th>Tlf.</th>
                <th>Email</th>
                <th>AutoCamper (Brand og model)</th>
                <th>Nummerplade</th>
                <th>Pris (i Euro)</th>
                <th>Max KM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contract: ${contracts}">

                <td th:text="${contract.id}"></td>
                <td th:text="${contract.fromDate}"></td>
                <td th:text="${contract.toDate}"></td>
                <td th:text="${contract.customer.name}"></td>
                <td th:text="${contract.customer.phone}"></td>
                <td th:text="${contract.customer.email}"></td>
                <td th:text="|${contract.motorhome.brand}, ${contract.motorhome.model}|"></td>
                <td th:text="${contract.motorhome.licensePlate}"></td>
                <td th:text="${contract.price}"></td>
                <td th:text="${contract.maxKM}"></td>
                <td>
                    <a th:href="@{'/viewContract/'+${contract.id}}">
                        <button class="btn-show">Vis</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <a th:href="@{/}">
        <button class="btn-back">Tilbage</button>
    </a>
</body>
</html>