<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <a href="/createContract">
        <button class="btn-create">Register new Contract!</button>
    </a>
    <a href="/contractArchive">
        <button class="btn-create">See archived contracts</button>
    </a>

    <div class="wrapper-table">
    <table>
        <thead>
            <tr>
                <th>Contract ID</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Kunde</th>
                <th>Tlf</th>
                <th>Email</th>
                <th>AutoCamper (Brand og model)</th>
                <th>Nummerplade</th>
                <th>Pris</th>
                <th>Max KM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contract: ${contracts}">

                <td th:text="${contract.id}"></td>
                <td th:text="${contract.fromDate}"></td>
                <td th:text="${contract.toDate}"></td>
                <td th:text="${contract.customer.name}"></td>
                <td th:text="${contract.customer.phone}"></td>
                <td th:text="${contract.customer.email}"></td>
                <td th:text="${contract.motorhome.brand}"></td>
                <td th:text="${contract.motorhome.licensePlate}"></td>
                <td th:text="${contract.price}"></td>
                <td th:text="${contract.maxKM}"></td>
                <td>
                    <a th:href="@{'/viewContract/'+${contract.id}}">
                        <button class="btn-show">Show</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <a th:href="@{/}">
        <button>Tilbage</button>
    </a>
</body>
</html>