<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <script src="Actions.js"></script>
</head>
<body>
<form name="contract" action="/createContract" method="post">
    <div class="wrapper-table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Alder</th>
                <th>CPR-Nummer</th>
                <th>Email</th>
                <th>Tlf. nr.</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <!-- <th>City</th>
                <th>Country</th> -->
                <th>Kørekortnummer</th>
                <th>Udstedelsesdato</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}"> <!--th:each means it will loop through the customers list -->
                <td th:text="${customer.id}" />
                <td th:text="${customer.name}" />
                <td th:text="${customer.age}" />
                <td th:text="${customer.cpr}" />
                <td th:text="${customer.email}" />
                <td th:text="${customer.phone}" />
                <td th:text="${customer.address}" />
                <td th:text="${customer.zipCode}" />
                <td th:text="${customer.driverLicenseNumber}" />
                <td th:text="${customer.driverLicenseDate}" />
                <td>
                    <input type="radio" name="customId" th:value="${customer.id}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>Start Date :</label>
        <input type="date" id="startDate" onchange="time()">
        <label>End Date :</label>
        <input type="date" id="endDate" onchange="time()">

        <input type="text" name="totalDays" id="totalDays" readonly><br><br>
    </div>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>Nummerplade</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Pris per dag</th>
                    <th>Sæder</th>
                    <th>Senge</th>
                    <th>Brændstoftype</th>
                    <th>Gear</th>
                    <th>Odometer</th>
                    <th>Registrations dato</th>
                    <th>Længde og Højde</th>
                    <th>Type</th>
                    <th>Køleskab</th>
                    <th>Toilet</th>
                    <th>Markise</th>
                    <th>Vælg</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="luxury: ${luxuries}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${luxury.licensePlate}" />
                    <td th:text="${luxury.brand}" />
                    <td th:text="${luxury.model}" />
                    <td th:text="${luxury.pricePerDay}" />
                    <td th:text="${luxury.seats}" />
                    <td th:text="${luxury.beds}" />
                    <td th:text="${luxury.fuelType}" />
                    <td th:text="${luxury.gear}" />
                    <td th:text="${luxury.odometer}" />
                    <td th:text="${luxury.registrationDate}" />
                    <td th:text="${luxury.lengthAndHeight}" />
                    <td th:text="${luxury.type}" />
                    <td th:text="${luxury.fridge}"/>
                    <td th:text="${luxury.toilet}"/>
                    <td th:text="${luxury.awning}"/>
                    <td>
                        <input type="radio" name="carId" th:value="${luxury.licensePlate}">
                    </td>
                </tr>
                <tr th:each="standard: ${standards}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${standard.licensePlate}" />
                    <td th:text="${standard.brand}" />
                    <td th:text="${standard.model}" />
                    <td th:text="${standard.pricePerDay}" />
                    <td th:text="${standard.seats}" />
                    <td th:text="${standard.beds}" />
                    <td th:text="${standard.fuelType}" />
                    <td th:text="${standard.gear}" />
                    <td th:text="${standard.odometer}" />
                    <td th:text="${standard.registrationDate}" />
                    <td th:text="${standard.lengthAndHeight}" />
                    <td th:text="${standard.type}" />
                    <td th:text="${standard.fridge}"/>
                    <td th:text="${standard.toilet}"/>
                    <td th:text="${standard.awning}"/>
                    <td>
                        <input type="radio" name="carId" th:value="${standard.licensePlate}">
                    </td>
                </tr>
                <tr th:each="economy: ${economies}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${economy.licensePlate}" />
                    <td th:text="${economy.brand}" />
                    <td th:text="${economy.model}" />
                    <td th:text="${economy.pricePerDay}" />
                    <td th:text="${economy.seats}" />
                    <td th:text="${economy.beds}" />
                    <td th:text="${economy.fuelType}" />
                    <td th:text="${economy.gear}" />
                    <td th:text="${economy.odometer}" />
                    <td th:text="${economy.registrationDate}" />
                    <td th:text="${economy.lengthAndHeight}" />
                    <td th:text="${economy.type}" />
                    <td th:text="${economy.fridge}"/>
                    <td th:text="${economy.toilet}"/>
                    <td th:text="${economy.awning}"/>
                    <td>
                        <input type="radio" name="carId" th:value="${economy.licensePlate}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="submit" value="Register" class="btn-create">
</form>

</body>
</html>