<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Autocamper registration</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="/createEconomy" method="post">
    <label>Brand</label>
    <input type="text" name="brand" required>

    <label>Model</label>
    <input type="text" name="model" required>

    <label>Nummerplade</label>
    <input type="text" name="licensePlate" required>

    <label>Pris</label>
    <input type="number" name="pricePerDay" min="1" required>   <!-- skal vel mindst koste en krone? -->

    <label>Sæder</label>
    <input type="number" name="seats" min="1" required> <!-- der er vel altid et sæde? eller gælder føresæde ikke? -->

    <label>Senge</label>
    <input type="number" name="beds" min="0" required> <!-- behøver der mindst være én seng? eller kan der ikke være nogen? -->

    <label>Brændstof</label>
    <select name="fuelType">
        <option value="Benzin">Benzin</option>
        <option value="Diesel">Diesel</option>
        <option value="Elektrisk">Elektrisk</option>
    </select>

    <label>Gear</label>
    <select name="gear">
        <option value="Automat">Automat</option>
        <option value="Manuel">Manuel</option>
    </select>

    <label>Odometer</label>
    <input type="number" name="odometer" min="0" required>

    <label>Registrations Dato</label>
    <input type="date" name="registrationDate" required>

    <label>Længde & Højde</label>
    <input type="text" name="lengthAndHeight" required>

    <!-- <label>Type</label> -->
    <select name="type" hidden> <!-- see createLuxury comment -->
        <option value="Economy">Økonomi</option>
        <option value="Standard">Standard</option>
        <option value="Luxury">Luxury</option>
    </select>

    <label>Køleskab</label>
    <input type="checkbox" name="fridge">

    <label>Toilet</label>
    <input type="checkbox" name="toilet">

    <label>Markise</label>
    <input type="checkbox" name="awning">

    <label>Gas blus</label>
    <input type="text" name="gasBurners">

    <input type="submit" value="Save motorhome">
</form>
<a th:href="@{/motorhome}">
    <button>Tilbage</button>
</a>
</body>
</html>