<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Lavet af Mikkel -->
<head>
    <meta charset="UTF-8">
    <title>Medarbejder - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Medarbejder Registrering</h1>
<form action="/createStaff" method="post">
    <label class="breaker">Navn:</label>
    <input type="text" name="name" required>
    <label class="breaker">Initialer:</label>
    <input type="text" name="initials" required>

    <input type="submit" value="Gem!" class="btn-create breaker">
</form>
<a th:href="@{/staff}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>