<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Medarbejder - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Medarbejder Registrering</h1>
<form action="/createStaff" method="post">
    <label>Navn:</label>
    <input type="text" name="name" required>
    <label>Initialer:</label>
    <input type="text" name="initials" required>

    <input type="submit" value="Gem!" class="btn-create">
</form>
<a th:href="@{/staff}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>