<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilbehør - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Tilbehør Registrering</h1>
<form action="/createAccessory" method="post">
    <label>Navn:</label>
    <input type="text" name="name" required>
    <label>Beløb - Tilgængelig:</label>
    <input type="number" name="amountAvailable" min="1" required> <!--Skal være 1, giver ikke mening at lave en ny accessory hvis man ikke havde denne accessory-->
    <label>Beløb - Total:</label>
    <input type="number" name="amountTotal" min="1" required>
    <label>Pris:</label>
    <input type="number" name="price" min="1" required> <!-- Skal vel koste noget? Men måske skulle man stadig have muligheden for at lave en free accessory? -->

    <input type="submit" value="Gem!" class="btn-create" required>
</form>
<a th:href="@{/accessory}">
    <button>Tilbage</button>
</a>
</body>
</html>