<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakt - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <script src="Actions.js"></script>
</head>
<body>
<h1>Kontrakt Registrering</h1>
<form name="contract" action="/createContract" method="post">
    <div class="wrapper-table">
        <h2>Kunder:</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Alder</th>
                <th>CPR-Nummer</th>
                <th>Email</th>
                <th>Tlf.</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <th>Kørekortnummer</th>
                <th>Udstedelsesdato</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}"> <!--th:each means it will loop through the customers list -->
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td th:text="${customer.driverLicenseNumber}"></td>
                <td th:text="${customer.driverLicenseDate}"></td>
                <td>
                    <input type="radio" name="customId" th:value="${customer.id}" required>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label class="breaker">Start Dato:</label>
        <input type="date" name="fromDate" id="fromDate" onchange="time()" required>
        <label class="breaker">Slut Dato:</label>
        <input type="date" name="toDate" id="toDate" onchange="time()" required>
        <input type="text" name="days" id="numberOfDays" readonly class="breaker">
    </div>

    <h2>Autocamper:</h2>
    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>Nummerplade</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Pris pr. dag (i Euro)</th>
                    <th>Sæder</th>
                    <th>Senge</th>
                    <th>Brændstof</th>
                    <th>Gear</th>
                    <th>Odometer</th>
                    <th>Registreringsdato</th>
                    <th>Længde og Højde</th>
                    <th>Type</th>
                    <th>Køleskab</th>
                    <th>Toilet</th>
                    <th>Markise</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="luxury: ${luxuries}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${luxury.licensePlate}"></td>
                    <td th:text="${luxury.brand}"></td>
                    <td th:text="${luxury.model}"></td>
                    <td th:text="${luxury.pricePerDay}"></td>
                    <td th:text="${luxury.seats}"></td>
                    <td th:text="${luxury.beds}"></td>
                    <td th:text="${luxury.fuelType}"></td>
                    <td th:text="${luxury.gear}"></td>
                    <td th:text="${luxury.odometer}"></td>
                    <td th:text="${luxury.registrationDate}"></td>
                    <td th:text="${luxury.lengthAndHeight}"></td>
                    <td th:text="${luxury.type}"></td>
                    <td th:text="${luxury.fridge}"></td>
                    <td th:text="${luxury.toilet}"></td>
                    <td th:text="${luxury.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${luxury.licensePlate}" required>
                    </td>
                </tr>
                <tr th:each="standard: ${standards}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${standard.licensePlate}"></td>
                    <td th:text="${standard.brand}"></td>
                    <td th:text="${standard.model}"></td>
                    <td th:text="${standard.pricePerDay}"></td>
                    <td th:text="${standard.seats}"></td>
                    <td th:text="${standard.beds}"></td>
                    <td th:text="${standard.fuelType}"></td>
                    <td th:text="${standard.gear}"></td>
                    <td th:text="${standard.odometer}"></td>
                    <td th:text="${standard.registrationDate}"></td>
                    <td th:text="${standard.lengthAndHeight}"></td>
                    <td th:text="${standard.type}"></td>
                    <td th:text="${standard.fridge}"></td>
                    <td th:text="${standard.toilet}"></td>
                    <td th:text="${standard.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${standard.licensePlate}" required>
                    </td>
                </tr>
                <tr th:each="economy: ${economies}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${economy.licensePlate}"></td>
                    <td th:text="${economy.brand}"></td>
                    <td th:text="${economy.model}"></td>
                    <td th:text="${economy.pricePerDay}"></td>
                    <td th:text="${economy.seats}"></td>
                    <td th:text="${economy.beds}"></td>
                    <td th:text="${economy.fuelType}"></td>
                    <td th:text="${economy.gear}"></td>
                    <td th:text="${economy.odometer}"></td>
                    <td th:text="${economy.registrationDate}"></td>
                    <td th:text="${economy.lengthAndHeight}"></td>
                    <td th:text="${economy.type}"></td>
                    <td th:text="${economy.fridge}"></td>
                    <td th:text="${economy.toilet}"></td>
                    <td th:text="${economy.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${economy.licensePlate}" required>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label class="breaker">Pick-Up Punkt:</label>
        <input type="text" name="pickUp">
        <label class="breaker">Pick-Up Distance:</label>
        <input type="number" name="pickDistance" step="0.1" min="0" value="0">
        <label class="breaker">Drop-Off Punkt:</label>
        <input type="text" name="dropOff">
        <label class="breaker">Drop-Off Distance:</label>
        <input type="number" name="dropDistance" step="0.1" min="0" value="0">
    </div>

    <h2>Tilbehør:</h2>
    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Navn</th>
                    <th>Beløb - Tilgængelig</th>
                    <th>Beløb - Total</th>
                    <th>Pris (i Euro)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accessory: ${accessories}"> <!--th:each means it will loop through the Accessory list -->
                    <td th:text="${accessory.id}"></td>
                    <td th:text="${accessory.name}"></td>
                    <td th:text="${accessory.amountAvailable}"></td>
                    <td th:text="${accessory.amountTotal}"></td>
                    <td th:text="${accessory.price}"></td>
                    <td>
                        <input type="checkbox" name="accessory" th:value="${accessory.id}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label class="breaker">Salgsassistent</label>
        <select name="staff">
            <option th:each="staff : ${staffs}" th:text="${staff.name}"></option>
        </select>
    </div>

    <input type="submit" value="Gem!" class="btn-create breaker">
</form>
<a th:href="@{/contract}">
    <button class="btn-back">Tilbage</button>
</a>

</body>
</html>