<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/createCustomer" method="post">
    <label>name</label>
    <input type="text" name="name" required>
    <input type="text" name="age" required>
    <input type="text" name="cpr" required>
    <input type="text" name="email" required>
    <input type="text" name="phone" required>
    <input type="text" name="address" required>
    <input type="text" name="zip_code" required>
    <input type="text" name="driver_license_number" required>
    <input type="text" name="driver_license_date" required>

    <input type="submit" value="Save customer" required>
</form>
</body>
</html>