<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kunderegistration</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="/createCustomer" method="post">
    <label>Navn</label>
    <input type="text" name="name" required>
    <label>Alder</label>
    <input type="number" name="age" required>
    <label>CPR-Nummer</label>
    <input type="text" name="cpr" required>
    <label>Email</label>
    <input type="email" name="email" required>
    <label>Tlf.</label>
    <input type="text" name="phone" required>
    <label>Adresse</label>
    <input type="text" name="address" required>
    <label>Postnummer</label>
    <input type="text" name="zipCode" required>
    <label>Kørekortnummer</label>
    <input type="text" name="driverLicenseNumber" required>
    <label>Udstedelsesdato</label>
    <input type="date" name="driverLicenseDate" required>

    <input type="submit" value="Save customer" required>
</form>
<a th:href="@{/customer}">
    <button>Tilbage</button>
</a>
</body>
</html>