<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autocamper registration</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="/createEconomy" method="post">
    <label>Brand</label>
    <input type="text" name="brand" required>

    <label>Model</label>
    <input type="text" name="model" required>

    <label>Nummerplade</label>
    <input type="text" name="licensePlate" required>

    <label>Pris</label>
    <input type="number" name="pricePerDay" required>

    <label>Sæder</label>
    <input type="number" name="seats" required>

    <label>Senge</label>
    <input type="number" name="beds" required>

    <label>Brændstof</label>
    <select name="fuelType">
        <option value="Benzin">Benzin</option>
        <option value="Diesel">Diesel</option>
        <option value="Elektrisk">Elektrisk</option>
    </select>

    <label>Gear</label>
    <select name="gear">
        <option value="Automat">Automat</option>
        <option value="Manuel">Manuel</option>
    </select>

    <label>Odometer</label>
    <input type="number" name="odometer" required>

    <label>Registrations Dato</label>
    <input type="date" name="registrationDate" required>

    <label>Længde & Højde</label>
    <input type="text" name="lengthAndHeight" required>

    <!-- <label>Type</label> -->
    <select name="type" hidden> <!-- see createLuxury comment -->
        <option value="economy">Økonomi</option>
        <option value="standard">Standard</option>
        <option value="luxury">Luxury</option>
    </select>

    <label>Køleskab</label>
    <input type="checkbox" name="fridge">

    <label>Toilet</label>
    <input type="checkbox" name="toilet">

    <label>Markise</label>
    <input type="checkbox" name="awning">

    <label>Gas blus</label>
    <input type="text" name="gasBurners">

    <input type="submit" value="Save motorhome">
</form>
</body>
</html>