<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Lavet af Christian & Mikkel -->
<head>
    <meta charset="UTF-8">
    <title>Sæson - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Sæson Registrering</h1>
<form action="/createSeason" method="post">
    <label class="breaker">Startdato:</label>
    <input type="date" name="start_date" required>
    <label class="breaker">Slutdato:</label>
    <input type="date" name="end_date" required>

    <label class="breaker">Type:</label>
    <select name="type">
        <option value="Høj">Høj</option>
        <option value="Middel">Middel</option>
        <option value="Lav">Lav</option>
    </select>

    <input type="submit" value="Gem!" class="btn-create breaker">
</form>
<a th:href="@{/accessory}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>