<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessory Creation</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="/createAccessory" method="post">
    <label>name</label>
    <input type="text" name="name" required>
    <label>amount available</label>
    <input type="number" name="amountAvailable" required>
    <label>amount total</label>
    <input type="number" name="amountTotal" required>
    <label>price</label>
    <input type="number" name="price" required>

    <input type="submit" value="Save accessory" required>
</form>
</body>
</html>