<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <script src="Actions.js"></script>
</head>
<body>
<form name="contract" action="/createContract" method="post">
    <div class="wrapper-table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Alder</th>
                <th>CPR-Nummer</th>
                <th>Email</th>
                <th>Tlf. nr.</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <th>Kørekortnummer</th>
                <th>Udstedelsesdato</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}"> <!--th:each means it will loop through the customers list -->
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td th:text="${customer.driverLicenseNumber}"></td>
                <td th:text="${customer.driverLicenseDate}"></td>
                <td>
                    <input type="radio" name="customId" th:value="${customer.id}" required>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>Start Date :</label>
        <input type="date" name="fromDate" id="startDate" onchange="time()" required>
        <label>End Date :</label>
        <input type="date" name="toDate" id="endDate" onchange="time()" required>

        <input type="text" name="totalDays" id="totalDays" readonly>
    </div>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>Nummerplade</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Pris per dag</th>
                    <th>Sæder</th>
                    <th>Senge</th>
                    <th>Brændstoftype</th>
                    <th>Gear</th>
                    <th>Odometer</th>
                    <th>Registrations dato</th>
                    <th>Længde og Højde</th>
                    <th>Type</th>
                    <th>Køleskab</th>
                    <th>Toilet</th>
                    <th>Markise</th>
                    <th>Vælg</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="luxury: ${luxuries}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${luxury.licensePlate}"></td>
                    <td th:text="${luxury.brand}"></td>
                    <td th:text="${luxury.model}"></td>
                    <td th:text="${luxury.pricePerDay}"></td>
                    <td th:text="${luxury.seats}"></td>
                    <td th:text="${luxury.beds}"></td>
                    <td th:text="${luxury.fuelType}"></td>
                    <td th:text="${luxury.gear}"></td>
                    <td th:text="${luxury.odometer}"></td>
                    <td th:text="${luxury.registrationDate}"></td>
                    <td th:text="${luxury.lengthAndHeight}"></td>
                    <td th:text="${luxury.type}"></td>
                    <td th:text="${luxury.fridge}"></td>
                    <td th:text="${luxury.toilet}"></td>
                    <td th:text="${luxury.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${luxury.licensePlate}" required>
                    </td>
                </tr>
                <tr th:each="standard: ${standards}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${standard.licensePlate}"></td>
                    <td th:text="${standard.brand}"></td>
                    <td th:text="${standard.model}"></td>
                    <td th:text="${standard.pricePerDay}"></td>
                    <td th:text="${standard.seats}"></td>
                    <td th:text="${standard.beds}"></td>
                    <td th:text="${standard.fuelType}"></td>
                    <td th:text="${standard.gear}"></td>
                    <td th:text="${standard.odometer}"></td>
                    <td th:text="${standard.registrationDate}"></td>
                    <td th:text="${standard.lengthAndHeight}"></td>
                    <td th:text="${standard.type}"></td>
                    <td th:text="${standard.fridge}"></td>
                    <td th:text="${standard.toilet}"></td>
                    <td th:text="${standard.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${standard.licensePlate}" required>
                    </td>
                </tr>
                <tr th:each="economy: ${economies}"> <!--th:each means it will loop through the customers list -->
                    <td th:text="${economy.licensePlate}"></td>
                    <td th:text="${economy.brand}"></td>
                    <td th:text="${economy.model}"></td>
                    <td th:text="${economy.pricePerDay}"></td>
                    <td th:text="${economy.seats}"></td>
                    <td th:text="${economy.beds}"></td>
                    <td th:text="${economy.fuelType}"></td>
                    <td th:text="${economy.gear}"></td>
                    <td th:text="${economy.odometer}"></td>
                    <td th:text="${economy.registrationDate}"></td>
                    <td th:text="${economy.lengthAndHeight}"></td>
                    <td th:text="${economy.type}"></td>
                    <td th:text="${economy.fridge}"></td>
                    <td th:text="${economy.toilet}"></td>
                    <td th:text="${economy.awning}"></td>
                    <td>
                        <input type="radio" name="carId" th:value="${economy.licensePlate}" required>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>Pick-Up Point:</label>
        <input type="text" name="pickUp">
        <label>Pick-Up Distance:</label>
        <input type="number" name="pickDistance" step="0.1" value="0">
        <label>Drop-Off Point:</label>
        <input type="text" name="dropOff">
        <label>Drop-Off Distance:</label>
        <input type="number" name="dropDistance" step="0.1" value="0">
    </div>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Amount available</th>
                    <th>amount total</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accessory: ${accessories}"> <!--th:each means it will loop through the Accessory list -->
                    <td th:text="${accessory.id}" />
                    <td th:text="${accessory.name}" />
                    <td th:text="${accessory.amountAvailable}" />
                    <td th:text="${accessory.amountTotal}" />
                    <td th:text="${accessory.price}" />
                    <td>
                        <input type="checkbox" name="accessory" th:value="${accessory.id}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>Sales assistent</label>
        <select name="staff">
            <option th:each="staff : ${staffs}" th:text="${staff.name}"/>
        </select>
    </div>

    <input type="submit" value="Register" class="btn-create">
</form>
<a th:href="@{/contract}">
    <button>Tilbage</button>
</a>

</body>
</html>