<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kunde - Registrering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Kunde Registrering</h1>
<form action="/createCustomer" method="post">
    <label class="breaker">Navn:</label>
    <input type="text" name="name" required>
    <label class="breaker">Alder:</label>
    <input type="number" name="age" min="17" required> <!-- hvor gammel skal man være for at leje en autocamper? man kan vel få kørekort fra når man er 17?-->
    <label class="breaker">CPR-Nummer:</label>
    <input type="text" name="cpr" required>
    <label class="breaker">Email:</label>
    <input type="email" name="email" required>
    <label class="breaker">Tlf:</label>
    <input type="text" name="phone" required>
    <label class="breaker">Adresse:</label>
    <input type="text" name="address" required>
    <label class="breaker">Postnummer:</label>
    <input type="text" name="zipCode" required>
    <label class="breaker">Kørekortnummer:</label>
    <input type="text" name="driverLicenseNumber" required>
    <label class="breaker">Udstedelsesdato:</label>
    <input type="date" name="driverLicenseDate" required >
    <input type="submit" value="Gem!" class="btn-create breaker">
</form>
<a th:href="@{/customer}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>