<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body class="background">

<h1>Kunder</h1>

<a href="/createCustomer">
    <button class="btn-create">Registrer ny kunde!</button>
</a>

<div class="wrapper-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Alder</th>
                <th>CPR-Nummer</th>
                <th>Email</th>
                <th>Tlf.</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <th>Kørekortnummer</th>
                <th>Udstedelsesdato</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${customers}"> <!--th:each means it will loop through the customers list -->
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}" width="172px"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td th:text="${customer.driverLicenseNumber}"></td>
                <td th:text="${customer.driverLicenseDate}"></td>
                <td>
                    <a th:href="@{'/viewCustomer/'+${customer.id}}">
                        <button class="btn-show">Vis</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>