<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>End - Contract</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form name="contract" action="/endContract" method="post">
    <input type="text" name="contractId" th:value="${contract.id}">
    <input type="number" name="oldOdometer" th:value="${contract.motorhome.odometer}">
    <input type="date" name="fromDate" th:value="${contract.fromDate}">
    <input type="date" name="toDate" th:value="${contract.toDate}"> <!-- fields we need when ending contract -->

    <label>Is fuel tank less than half full?</label>
    <input type="checkbox" name="halfFull">

    <label>Odometer</label>
    <input type="number" name="odometer" th:value="${contract.motorhome.odometer}" required>


    <label>Sales Assistent</label>
    <select name="staff" th:field="${contract.staff}">
        <option th:each="staff : ${staffs}" th:text="${staff.name}" th:value="${staff.name}"></option>
    </select>

    <input type="submit" value="End">
</form>
<a th:href="@{'/viewContract/'+${contract.id}}">
    <button>Tilbage</button>
</a>
</body>
</html>