<!DOCTYPE html>
<html lang="en">
<!-- Lavet af Christian & Benjamin -->
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rental</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body class>
<h1 class="header">Nordic Motorhome Rental</h1>
<div id="main-menu-wrapper">
    <a class="basic" href="/customer">
        <button class="btn-Main-Menu">Kunder</button>
    </a>
    <a class="basic" href="/motorhome">
        <button class="btn-Main-Menu">Autocampere</button>
    </a>
    <a class="basic" href="/contract">
        <button class="btn-Main-Menu">Kontrakter</button>
    </a>
    <a class="basic" href="/season">
        <button class="btn-Main-Menu">Sæsoner</button>
    </a>
    <a class="basic" href="/accessory">
        <button class="btn-Main-Menu">Tilbehør</button>
    </a>
    <a class="basic" href="/staff">
        <button class="btn-Main-Menu">Medarbejdere</button>
    </a>
</div>
</body>
</html>