<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Autocampere</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Autocampere</h1>
<a href="/createLuxury">
    <button class="btn-create">Registrer et luksus køretøj!</button>
</a>

<a href="/createStandard">
    <button class="btn-create">Registrer et standard køretøj!</button>
</a>

<a href="/createEconomy">
    <button class="btn-create">Registrer et økonomi køretøj!</button>
</a>

<div class="wrapper-table">
    <table>
        <thead>
        <tr>
            <th>Nummerplade</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Pris per dag (i Euro)</th>
            <th>Sæder</th>
            <th>Senge</th>
            <th>Brændstoftype</th>
            <th>Gear</th>
            <th>Odometer</th>
            <th>Registreringsdato</th>
            <th>Længde og Højde</th>
            <th>Type</th>
            <th>Køleskab</th>
            <th>Toilet</th>
            <th>Markise</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="luxury: ${luxuries}"> <!--th:each means it will loop through the customers list -->
            <td th:text="${luxury.licensePlate}"></td>
            <td th:text="${luxury.brand}"></td>
            <td th:text="${luxury.model}"></td>
            <td th:text="${luxury.pricePerDay}"></td>
            <td th:text="${luxury.seats}"></td>
            <td th:text="${luxury.beds}"></td>
            <td th:text="${luxury.fuelType}"></td>
            <td th:text="${luxury.gear}"></td>
            <td th:text="${luxury.odometer}"></td>
            <td th:text="${luxury.registrationDate}"></td>
            <td th:text="${luxury.lengthAndHeight}"></td>
            <td th:text="${luxury.type}"></td>
            <td th:text="${luxury.fridge}"></td>
            <td th:text="${luxury.toilet}"></td>
            <td th:text="${luxury.awning}"></td>
            <td>
                <a th:href="@{'/viewMotorhome/'+${luxury.licensePlate}}">
                    <button class="btn-show">Vis</button>
                </a>
            </td>
        </tr>
        <tr th:each="standard: ${standards}">
            <td th:text="${standard.licensePlate}"></td>
            <td th:text="${standard.brand}"></td>
            <td th:text="${standard.model}"></td>
            <td th:text="${standard.pricePerDay}"></td>
            <td th:text="${standard.seats}"></td>
            <td th:text="${standard.beds}"></td>
            <td th:text="${standard.fuelType}"></td>
            <td th:text="${standard.gear}"></td>
            <td th:text="${standard.odometer}"></td>
            <td th:text="${standard.registrationDate}"></td>
            <td th:text="${standard.lengthAndHeight}"></td>
            <td th:text="${standard.type}"></td>
            <td th:text="${standard.fridge}"></td>
            <td th:text="${standard.toilet}"></td>
            <td th:text="${standard.awning}"></td>
            <td>
                <a th:href="@{'/viewMotorhome/'+${standard.licensePlate}}">
                    <button class="btn-show">Vis</button>
                </a>
            </td>
        </tr>
        <tr th:each="economy: ${economies}">
            <td th:text="${economy.licensePlate}"></td>
            <td th:text="${economy.brand}"></td>
            <td th:text="${economy.model}"></td>
            <td th:text="${economy.pricePerDay}"></td>
            <td th:text="${economy.seats}"></td>
            <td th:text="${economy.beds}"></td>
            <td th:text="${economy.fuelType}"></td>
            <td th:text="${economy.gear}"></td>
            <td th:text="${economy.odometer}"></td>
            <td th:text="${economy.registrationDate}"></td>
            <td th:text="${economy.lengthAndHeight}"></td>
            <td th:text="${economy.type}"></td>
            <td th:text="${economy.fridge}"></td>
            <td th:text="${economy.toilet}"></td>
            <td th:text="${economy.awning}"></td>
            <td>
                <a th:href="@{'/viewMotorhome/'+${economy.licensePlate}}">
                    <button class="btn-show">Vis</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/}">
    <button>Tilbage</button>
</a>
</body>
</html>