<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sæson</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Sæsoner:</h1>
    <a href="/createSeason">
        <button class="btn-create">Registrer ny Sæson!</button>
    </a>

    <div class="wrapper-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Startdato</th>
                    <th>Slutdato</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="season: ${seasons}"> <!--th:each means it will loop through the season list -->
                    <td th:text="${season.id}" />
                    <td th:text="${season.start_date}" />
                    <td th:text="${season.end_date}" />
                    <td th:text="${season.type}" />
                    <td>
                        <a th:href="@{'/viewSeason/'+${season.id}}">
                            <button class="btn-show">Vis</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/}">
        <button>Tilbage</button>
    </a>
</body>
</html>