<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Lavet af Mikkel -->
<head>
    <meta charset="UTF-8">
    <title>Medarbejdere</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Medarbejdere</h1>
<a href="/createStaff">
    <button class="btn-create">Registrer ny medarbejder!</button>
</a>

<div class="wrapper-table">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Initialer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="staff: ${staffs}"> <!--th:each means it will loop through the season list -->
            <td th:text="${staff.id}"></td>
            <td th:text="${staff.name}"></td>
            <td th:text="${staff.initials}"></td>
            <td>
                <a th:href="@{'/viewStaff/'+${staff.id}}">
                    <button class="btn-show">Vis</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a th:href="@{/}">
    <button class="btn-back">Tilbage</button>
</a>

</body>
</html>