<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Økonomi - Opdatering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>Økonomi Opdatering</h1>
<form action="/updateEconomy" method="post" class="update">
    <input hidden type="text" name="licenseId" th:value="${economy.licensePlate}">

    <label>Nummerplade:</label>
    <input type="text" name="licensePlate" th:value="${economy.licensePlate}" required>
    <label>Mærke:</label>
    <input type="text" name="brand" th:value="${economy.brand}" required>
    <label>Model:</label>
    <input type="text" name="model" th:value="${economy.model}" required>
    <label>Pris (i Euro):</label>
    <input type="number" name="pricePerDay" th:value="${economy.pricePerDay}" min="1" required>
    <label>Sæder:</label>
    <input type="number" name="seats" th:value="${economy.seats}" min="1" required> <!-- samme tanke som i create-->
    <label>Senge:</label>
    <input type="number" name="beds" th:value="${economy.beds}" min="0" required> <!-- samme tanke som i create-->

    <label>Brændstof:</label>
    <select name="fuelType" th:field="${economy.fuelType}">
        <option value="Benzin">Benzin</option>
        <option value="Diesel">Diesel</option>
        <option value="Elektrisk">Elektrisk</option>
    </select>

    <label>Gear:</label>
    <select name="gear" th:field="${economy.gear}">
        <option value="Automat">Automat</option>
        <option value="Manuel">Manuel</option>
    </select>
    <!--<input type="text" name="gear" th:value="${}" required>
    -->
    <label>Odometer:</label>
    <input type="number" name="odometer" th:value="${economy.odometer}" min="0" required>
    <label>Registreringsdato:</label>
    <input type="date" name="registrationDate" th:value="${economy.registrationDate}"required>
    <label>Længde og Højde:</label>
    <input type="text" name="lengthAndHeight" th:value="${economy.lengthAndHeight}"required>

    <input type="text" name="type" th:value="${economy.type}"hidden required>

    <label>Køleskab:</label>
    <input type="checkbox" name="fridge" th:checked="${economy.fridge}">
    <label>Toilet:</label>
    <input type="checkbox" name="toilet" th:checked="${economy.toilet}">
    <label>Markise:</label>
    <input type="checkbox" name="awning" th:checked="${economy.awning}">
    <label>Gasblus:</label>
    <input type="number" name="gasBurners" th:value="${economy.gasBurners}">

    <input type="submit" value="Opdater!" class="btn-create">
</form>
<a th:href="@{'/viewMotorhome/'+${economy.licensePlate}}">
    <button class="btn-back">Tilbage</button>
</a>
</body>
</html>