<!DOCTYPE html>

<!-- Lavet af LHD & BAWG -->

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakt - Opdatering</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <script src="Actions.js"></script>
</head>
<body>
<h1>Kontrakt Opdatering</h1>
<form name="contract" action="/updateContract" method="post">
    <div class="wrapper-table">
        <h2>Kunder:</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Alder</th>
                <th>CPR-Nummer</th>
                <th>Email</th>
                <th>Tlf.</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <th>Kørekortnummer</th>
                <th>Udstedelsesdato</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}">

                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.cpr}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td th:text="${customer.driverLicenseNumber}"></td>
                <td th:text="${customer.driverLicenseDate}"></td>

                <td>
                    <span th:unless="${customer.id == contract.customId}">
                        <input type="radio" name="customId" th:value="${customer.id}" required>
                    </span>
                    <span th:if="${customer.id == contract.customId}">
                        <input type="radio" name="customId" th:value="${customer.id}" checked required>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <input hidden type="text" name="id" th:value="${contract.id}">

    <div>
        <label>Start Dato:</label>
        <input type="date" name="fromDate" th:value="${contract.fromDate}" required>
        <label>Slut Dato:</label>
        <input type="date" name="toDate" th:value="${contract.toDate}" required>

        <label>Indtast prisen manuelt (i euro):</label>
        <input type="number" name="price" th:value="${contract.price}" step="0.01" min="1" required> <!--Minimum pris skal vel være 1-->
        <label>Udregn prisen automatisk?</label>
        <input type="checkbox" name="newPrice" checked>
<!--
        <label>Max KM:</label>
        <input type="number" name="maxKM" th:value="${contract.maxKM}" required> -->
    </div>

    <h2>Autocamper:</h2>
    <div class="wrapper-table">
        <table>
            <thead>
            <tr>
                <th>Nummerplade</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Pris per dag</th>
                <th>Sæder</th>
                <th>Senge</th>
                <th>Brændstoftype</th>
                <th>Gear</th>
                <th>Odometer</th>
                <th>Registreringsdato</th>
                <th>Længde og Højde</th>
                <th>Type</th>
                <th>Køleskab</th>
                <th>Toilet</th>
                <th>Markise</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="luxury: ${luxuries}">
                <td th:text="${luxury.licensePlate}"></td>
                <td th:text="${luxury.brand}"></td>
                <td th:text="${luxury.model}"></td>
                <td th:text="${luxury.pricePerDay}"></td>
                <td th:text="${luxury.seats}"></td>
                <td th:text="${luxury.beds}"></td>
                <td th:text="${luxury.fuelType}"></td>
                <td th:text="${luxury.gear}"></td>
                <td th:text="${luxury.odometer}"></td>
                <td th:text="${luxury.registrationDate}"></td>
                <td th:text="${luxury.lengthAndHeight}"></td>
                <td th:text="${luxury.type}"></td>
                <td th:text="${luxury.fridge}"></td>
                <td th:text="${luxury.toilet}"></td>
                <td th:text="${luxury.awning}"></td>
                <td>
                    <span th:unless="${contract.motorhome.licensePlate == luxury.licensePlate}">
                        <input type="radio" name="carId" th:value="${luxury.licensePlate}" required>
                    </span>
                    <span th:if="${contract.motorhome.licensePlate == luxury.licensePlate}">
                        <input type="radio" name="carId" th:value="${luxury.licensePlate}" checked required>
                    </span>
                </td>
            </tr>
            <tr th:each="standard: ${standards}">
                <td th:text="${standard.licensePlate}"></td>
                <td th:text="${standard.brand}"></td>
                <td th:text="${standard.model}"></td>
                <td th:text="${standard.pricePerDay}"></td>
                <td th:text="${standard.seats}"></td>
                <td th:text="${standard.beds}"></td>
                <td th:text="${standard.fuelType}"></td>
                <td th:text="${standard.gear}"></td>
                <td th:text="${standard.odometer}"></td>
                <td th:text="${standard.registrationDate}"></td>
                <td th:text="${standard.lengthAndHeight}"></td>
                <td th:text="${standard.type}"></td>
                <td th:text="${standard.fridge}"></td>
                <td th:text="${standard.toilet}"></td>
                <td th:text="${standard.awning}"></td>
                <td>
                    <span th:unless="${contract.motorhome.licensePlate == standard.licensePlate}">
                        <input type="radio" name="carId" th:value="${standard.licensePlate}" required>
                    </span>
                    <span th:if="${contract.motorhome.licensePlate == standard.licensePlate}">
                        <input type="radio" name="carId" th:value="${standard.licensePlate}" checked required>
                    </span>
                </td>
            </tr>
            <tr th:each="economy: ${economies}">
                <td th:text="${economy.licensePlate}"></td>
                <td th:text="${economy.brand}"></td>
                <td th:text="${economy.model}"></td>
                <td th:text="${economy.pricePerDay}"></td>
                <td th:text="${economy.seats}"></td>
                <td th:text="${economy.beds}"></td>
                <td th:text="${economy.fuelType}"></td>
                <td th:text="${economy.gear}"></td>
                <td th:text="${economy.odometer}"></td>
                <td th:text="${economy.registrationDate}"></td>
                <td th:text="${economy.lengthAndHeight}"></td>
                <td th:text="${economy.type}"></td>
                <td th:text="${economy.fridge}"></td>
                <td th:text="${economy.toilet}"></td>
                <td th:text="${economy.awning}"></td>
                <td>
                    <span th:unless="${contract.motorhome.licensePlate == economy.licensePlate}">
                        <input type="radio" name="carId" th:value="${economy.licensePlate}" required>
                    </span>
                    <span th:if="${contract.motorhome.licensePlate == economy.licensePlate}">
                        <input type="radio" name="carId" th:value="${economy.licensePlate}" checked required>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <label>Pick-Up Punkt:</label>
        <input type="text" name="pickUp" th:value="${contract.pickUp}">
        <label>Pick-Up Distance:</label>
        <input type="number" name="pickDistance" th:value="${contract.pickDistance}" min="0" step="0.1">
        <label>Drop-Off Punkt:</label>
        <input type="text" name="dropOff" th:value="${contract.dropOff}">
        <label>Drop-Off Distance:</label>
        <input type="number" name="dropDistance" th:value="${contract.dropDistance}" min="0" step="0.1">
    </div>

    <h2>Tilbehør:</h2>
    <div class="wrapper-table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Beløb - Tilgængelig</th>
                <th>Beløb - Total</th>
                <th>Pris</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accessory: ${accessories}"> <!--th:each means it will loop through the Accessory list -->
                <td th:text="${accessory.id}"></td>
                <td th:text="${accessory.name}"></td>
                <td th:text="${accessory.amountAvailable}"></td>
                <td th:text="${accessory.amountTotal}"></td>
                <td th:text="${accessory.price}"></td>
                <td>
                   <span th:unless="${contractAccessories.contains(accessory.id)}">
                        <input type="checkbox" name="accessory" th:value="${accessory.id}">
                    </span>
                    <span th:if="${contractAccessories.contains(accessory.id)}">
                        <input type="checkbox" name="accessory" th:value="${accessory.id}" checked>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <label>Salgsassistent</label>
    <select name="staff" th:field="${contract.staff}">
        <option th:each="staff : ${staffs}" th:text="${staff.name}" th:value="${staff.name}"></option>
    </select>

    <input type="submit" value="Opdater!" class="btn-create">
</form>
<a th:href="@{'/viewContract/'+${contract.id}}">
    <button class="btn-back">Tilbage</button>
</a>

</body>
</html>