<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update season</title>
    <!--<link rel="stylesheet" type="text/css" href="/MyCSS.css">-->
</head>
<body>
<form action="/updateSeason" method="post" class="btn-update">
    <input hidden type="text" name="id" th:value="${season.id}">
    <label>Start dato</label>
    <input type="text" name="start_date" th:value="${season.start_date}" required>
    <label>Slut dato</label>
    <input type="text" name="end_date" th:value="${season.end_date}" required>
    <label>Type</label>
    <input type="text" name="type" th:value="${season.type}" required>

    <input type="submit" value="update season">
</form>
</body>
</html>