<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update season</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<form action="/updateAccessory" method="post" class="btn-update">
    <input hidden type="text" name="id" th:value="${accessory.id}">
    <label>Name</label>
    <input type="text" name="name" th:value="${accessory.name}" required>
    <label>Amount Available</label>
    <input type="number" name="amountAvailable" th:value="${accessory.amountAvailable}" required>
    <label>Amount Total</label>
    <input type="number" name="amountTotal" th:value="${accessory.amountTotal}" required>
    <label>Price</label>
    <input type="number" name="price" th:value="${accessory.price}" required>

    <input type="submit" value="Update Accessory">
</form>
</body>
</html>