<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Staff</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<h1>View Staff</h1>

<label>ID</label>
<span th:text="${staff.id}"/>
<label>Navn</label>
<span th:text="${staff.name}"/>
<label>Initialer</label>
<span th:text="${staff.initials}"/>

<a th:href="@{'/deleteStaff/'+${staff.id}}">
    <button class="btn-delete">Delete</button>
</a>
<a th:href="@{'/updateStaff/'+${staff.id}}">
    <button class="btn-update">update</button>
</a>
<a th:href="@{/staff}">
    <button>Tilbage</button>
</a>
</body>
</html>