<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Arkiveret Kontrakt - Information</title>
</head>
<body>
<h1>Arkiveret Kontrakt Information</h1>
    <label>ID:</label>
    <span th:text="${contract.id}"></span>
    <label>Fra Dato:</label>
    <span th:text="${contract.fromDate}"></span>
    <label>Til Dato:</label>
    <span th:text="${contract.toDate}"></span>
    <label>Navn</label>
    <span th:text="${contract.customer.name}"></span>
    <label>Kørekortnummer:</label>
    <span th:text="${contract.customer.driverLicenseNumber}"></span>
    <label>CPR-Nummer:</label>
    <span th:text="${contract.customer.cpr}"></span>
    <label>Adresse:</label>
    <span th:text="${contract.customer.address}"></span>
    <label>Tlf:</label>
    <span th:text="${contract.customer.phone}"></span>
    <label>Email:</label>
    <span th:text="${contract.customer.email}"></span>
    <label>Nummerplade:</label>
    <span th:text="${contract.motorhome.licensePlate}"></span>
    <label>Mærke:</label>
    <span th:text="${contract.motorhome.brand}"></span>
    <label>Model:</label>
    <span th:text="${contract.motorhome.model}"></span>
    <label>Max KM:</label>
    <span th:text="${contract.maxKM}"></span>

    <label>Pick-Up Punkt:</label>
    <span th:text="${contract.pickUp}"></span>
    <label>Pick-Up Distance:</label>
    <span th:text="${contract.pickDistance}"></span>
    <label>Drop-Off Punkt:</label>
    <span th:text="${contract.dropOff}"></span>
    <label>Drop-Off Distance:</label>
    <span th:text="${contract.dropDistance}"></span>

    <label>Pris:</label>
    <span th:text="${contract.price}"></span>

    <span>
        <table>
            <thead>
            <tr>
                <th>Tilbehør:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accessory: ${contract.accessoryList}">
                <td th:text="${accessory.name}"></td>
                <td th:text="${accessory.price}"></td>
            </tr>
            </tbody>
        </table>
    </span>

<label>Salgsassistant</label>
<span th:text="${contract.staff}"></span>

<a th:href="@{'/deleteContract/'+${contract.id}}">
    <button class="btn-delete">Slet</button>
</a>
<a th:href="@{/contractArchive}">
    <button>Tilbage</button>
</a>
</body>
</html>