<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Autocamper - Information</title>
</head>
<body>
<h1>Autocamper Information</h1>
    <label>Nummerplade:</label>
    <span th:text="${motorhome.licensePlate}"></span>
    <label>Mærke:</label>
    <span th:text="${motorhome.brand}"></span>
    <label>Model:</label>
    <span th:text="${motorhome.model}"></span>
    <label>Pris pr. Dag (I Euro):</label>
    <span th:text="${motorhome.pricePerDay}"></span>
    <label>Sæder:</label>
    <span th:text="${motorhome.seats}"></span>
    <label>Senge:</label>
    <span th:text="${motorhome.beds}"></span>
    <label>Brændstof:</label>
    <span th:text="${motorhome.fuelType}"></span>
    <label>Gear:</label>
    <span th:text="${motorhome.gear}"></span>
    <label>Odometer:</label>
    <span th:text="${motorhome.odometer}"></span>
    <label>Registreringsdato:</label>
    <span th:text="${motorhome.registrationDate}"></span>
    <label>Længde og Højde:</label>
    <span th:text="${motorhome.lengthAndHeight}"></span>
    <label>Type:</label>
    <span th:text="${motorhome.type}"></span>
    <label>Køleskab:</label>
    <span th:text="${motorhome.fridge}"></span>
    <label>Toilet:</label>
    <span th:text="${motorhome.toilet}"></span>
    <label>Markise:</label>
    <span th:text="${motorhome.awning}"></span>


    <span th:if="${motorhome.type == 'Luksus'}">
        <label>Bad:</label>
        <span th:text="${luxury.shower}"></span>
        <label>Elkomfur:</label>
        <span th:text="${luxury.elStove}"></span>
        <label>TV:</label>
        <span th:text="${luxury.tv}"></span>
        <label>Bakkamera:</label>
        <span th:text="${luxury.rearViewCamera}"></span>

        <a th:href="@{'/updateLuxury/'+${luxury.licensePlate}}">
            <button class="btn-update">Opdater</button>
        </a>
    </span>

    <span th:if="${motorhome.type == 'Standard'}">
        <label>Bad:</label>
        <span th:text="${standard.shower}"></span>
        <label>Elkomfur:</label>
        <span th:text="${standard.elStove}"></span>

        <a th:href="@{'/updateStandard/'+${standard.licensePlate}}">
            <button class="btn-update">Opdater</button>
        </a>
    </span>

    <span th:if="${motorhome.type == 'Økonomi'}">
        <label>Gasblus:</label>
        <span th:text="${economy.gasBurners}"></span>
        <a th:href="@{'/updateEconomy/'+${economy.licensePlate}}">
            <button class="btn-update">Opdater</button>
        </a>
    </span>
    <a th:href="@{'/deleteMotorhome/'+${motorhome.licensePlate}}">
        <button class="btn-delete">Slet</button>
    </a>

    <a th:href="@{/motorhome}">
        <button>Tilbage</button>
    </a>

   <!-- <a th:href="@{'/updateMotorhome/'+${motorhome.licensePlate}}">
        <button class="btn-update">update</button>
    </a> -->
</body>
</html>