<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilbehør - Information</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Tilbehørs Information</h1>
    <label>ID:</label>
    <span th:text="${accessory.id}"/>
    <label>Beløb - Tilgængelig:</label>
    <span th:text="${accessory.amountAvailable}"/>
    <label>Beløb - Total:</label>
    <span th:text="${accessory.amountTotal}"/>
    <label>Pris:</label>
    <span th:text="${accessory.price}"/>

    <a th:href="@{'/deleteAccessory/'+${accessory.id}}">
        <button class="btn-delete">Slet</button>
    </a>
    <a th:href="@{'/updateAccessory/'+${accessory.id}}">
        <button class="btn-update">Opdater</button>
    </a>
    <a th:href="@{/accessory}">
        <button>Tilbage</button>
    </a>
</body>
</html>