<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sæson - Information</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Sæson Information</h1>
    <label>ID</label>
    <span th:text="${season.id}"></span>
    <label>Start</label>
    <span th:text="${season.start_date}"></span>
    <label>Slut</label>
    <span th:text="${season.end_date}"></span>
    <label>Type</label>
    <span th:text="${season.type}"></span>

    <a th:href="@{'/deleteSeason/'+${season.id}}">
        <button class="btn-delete">Slet</button>
    </a>
    <a th:href="@{'/updateSeason/'+${season.id}}">
        <button class="btn-update">Opdater</button>
    </a>
    <a th:href="@{/season}">
        <button class="btn-back">Tilbage</button>
    </a>
</body>
</html>